/* Global Variables */
:root {
    /* COlors */
    --main-color: rgb(243, 33, 33);
    --sub-color1: rgb(255, 122, 122);
    --sub-color2: rgb(48, 48, 48);
    --sub-color3: rgb(238, 238, 238);
}

/* Setup */
html, body {
    margin: 0;
    padding: 0;
}

/* Apply a natural box layout model to all elements, 
but allowing components to change */
html {
    box-sizing: border-box;
}

*,
::before, 
::after {
    box-sizing: inherit;
}

/* Header bar */
#header {
    /* Fixed position */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

    /* Flex container */
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start; 
    align-items: center;

    color: var(--sub-color3);
    background-color: var(--sub-color2);
}

#header img {
    max-width: 60px;
    height: auto;
    margin: 0 15px;
    padding: 0;
}

#header h1 {
    margin: 4px;
    padding: 0;
    color: var(--sub-color3);
}

/* Nav classes and ids */
#nav-bar {
    margin-left: auto;
}

.nav-link {
    font-size: 1.5rem;
    padding: 10px;
    margin: 0 10px;
    color: var(--sub-color3);
    text-decoration: none;
}

.nav-link:hover {
    background-color: var(--main-color);
}

/* Content */
.content {
    /* padding for fixed header bar */
    padding-top: 45px;
}

/* Every section is a grid */
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
}

#home {
    grid-row: 1 / 2;

    height: 100vh;
    color: var(--sub-color3);

    /* Background */
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}

/* Home section */
.overlay {
    height: 100vh;
    
    /* Make it as grid */
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    align-content: center;

    background-color: rgba(0, 0, 0, 0.747);
}

#home .left {
    grid-column: 2 / span 1;
    justify-self: end;
}

#home .left img {
    max-width: 100%;
}

#home .right {
    grid-column: 3 / span 1;
    justify-self: start;
    border-left: 3px solid rgb(253, 253, 253);
    padding-left: 40px;
}

#home .right h1 {
    
    font-size: 2.2em;
    color: rgb(255, 32, 32);
}

#home .right p {
    padding-right: 90px;
}

#home .right button {
    font-size: 1.25rem;
    margin-top: 10px;
    background-color: var(--sub-color2);
    border: none;
    border-radius: 10px;
    padding: 7px;
    color: var(--sub-color3);
}

#home .right button:hover {
    background-color: var(--main-color);
    cursor: pointer;
    border: none;
}

/* About section */
#about {
    height: 100vh;
    
    /* Make it as grid */
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    align-content: center;

    background-color: rgb(206, 206, 206);
}

#about .left {
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: center;
}

#about .left h1 {
    font-size: 2.2em;
    color: rgb(255, 32, 32);
}

#about .left p {
    padding-right: 90px;
}

#features {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.f-item {
    font-size: 1.75rem;
    padding: 20px;
    margin: 20px 30px 0px 0px;
    color: var(--sub-color3);
    background-color: var(--sub-color2);
    border-radius: 4px;
    user-select: none;

    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.f-item:hover {
    background-color: var(--main-color);
}

#about .right {
    grid-column: 3 / span 1;
    justify-self: end;
}

#about .right img {
    max-width: 100%;
}

/* About section */
#demo {
    height: 100vh;
    
    /* Make it as grid */
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;

    color: var(--sub-color3);
    background-color: black;
}

#demo .up {
    grid-row: 1 / span 1;
    text-align: center;
}

#demo .up h1 {
    font-size: 2.2em;
    margin-top: 50px;
    color: rgb(255, 32, 32);
}

#demo .up h3 {
    margin-top: 0px;
}

#demo .down {
    grid-row: 2 / span 1;
}

iframe {
    border: 3px solid red;
    border-radius: 10px;
}

/* Subscribe section */
#subscribe {
    height: 100vh;
    
    /* Make it as grid */
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    align-content: center;

    background-color: rgb(206, 206, 206);
}


